@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
:root {
  --first-color: hsl(29, 80%, 58%);
  --first-color-light: hsl(29, 80%, 70%);
  --black-color: hsl(29, 16%, 10%);
  --text-color: hsl(29, 8%, 65%);
  --body-color: hsl(29, 100%, 99%);
  --body-font: 'Poppins', sans-serif;
  --specific-font: 'Audiowide', cursive;
  --h3-font-size: 1.125rem;
  --smaller-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  font-family: var(--body-font);
}

image {
width: 100% ;
height: 100%;
object-fit: cover;
}

main {
padding: 0.5rem;
}

.Nav_all{
  width: 140px;
  height: 730px;
  display: flex;
  position: fixed;
}

.navigation2 .nav-links2 a{
  position: absolute;
  visibility: hidden;
} 

.content{
  margin-left: 9rem;
  margin-bottom: 2rem;
}

.progress-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 25px;
}

.progress-bar-part {
  position           : relative;
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  flex-direction     : column;
  width              : 5px;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
}

.progress-ping {
  position: absolute;
  bottom: -22.1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 6px;
  height: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 0 0.2rem #ffffff;
}

.progress-bar-line {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 345px;
  -webkit-box-align: column;
  -webkit-align-items: column;
  -ms-flex-align: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(rgb(0, 0, 0) 5%, rgb(255, 255, 255,0.3) 95%);
}

.progress-bar-part1 {
  position           : relative;
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  flex-direction     : column;
  width              : 5px;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
  top: 355px;
}

.progress-bar-line1 {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 321px;
  -webkit-box-align: column;
  -webkit-align-items: column;
  -ms-flex-align: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(rgb(255, 255, 255,0.3) 85%, rgb(0, 0, 0) );
}

.nav .navigation {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 54px;
  justify-content: space-between;
}

.div .navigation1 {
  width: 30%;
  height: 100px;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.navigation1 .nav-links1 {
  width: 90px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 96px;
  gap: 65px;
}

.navigation1 .nav-links1 a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.navigation .nav-logo img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

.Card {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
  justify-items: center;
}

button {
  position: absolute;
  visibility: hidden;
  font-size: 45px;
  background-color: transparent;
  border: none;
  color: var(--body-color);
}

.card-profile {  
  position: relative;
  width: 335px;
  height: 400px;
  background:#ffffff;
  padding: 1rem;
  text-align: center;
  clip-path: polygon(0% 10%, 10% 0%, 
  100% 0%, 100% 0%, 
  100% 90%, 90% 100%, 
  0% 100%, 0% 100%);
}

.card__img {
  width: 90%;
  height: 255px;
  margin-bottom: 1.5rem;
  clip-path: polygon(0% 15%, 10% 0%, 
  100% 0%, 100% 0%, 
  100% 90%, 90% 100%, 
  0% 100%, 0% 100%);
}


.card__name {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.card__profession {
  color: #000000;
  font-size: var(--h3-font-size);
  font-weight: 700;
  text-transform: capitalize;
}


.card__social {
  color: black;
  width: 83%;
  height: 40px;
  background: rgb(0, 0, 0);
  text-align: initial;
  margin-top: 1rem;
  margin-left: 20px;
  transform-origin: 18px 17px;
  border-top-left-radius: 1.5rem;
  border-end-start-radius: 1.5rem;
  clip-path: polygon(0% 27%, 0% 0%, 
  100% 0%, 100% 0%, 
  100% 51%, 93% 100%, 
  0% 100%, 0% 100%);
}

.card__social-control {
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.45s ease;
  transform: rotate(0);
}

.card__social-toggle {
  display: inline-flex;
  background-color: var(--body-color);
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
  left: 6px;
  top: 4px;
  width: 2rem;
  height: 2rem;
}

.card__social-toggle span {
  position: relative;
  bottom: 8px;
  left: 10px;
}

.card__social-text {
  display: block;
  color: var(--body-color);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.card__social-list {
  display: inline-flex;
  column-gap: 0.75rem;
  transform: rotate(135deg);
  transform-origin: 18px 17px;
}

.card__social-text,
.card__social-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1.1rem;
}

.card__social-text {
  top: 0.5rem;
  font-weight: 800;
  font-family: var(--body-font);
}

.card-profile:before{
	content: '';
	position: absolute;
	border: 4px solid;
  border-image: linear-gradient(to bottom, #ffffff 30%, rgb(34, 34, 34) 100%)1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	visibility: hidden;
}

.card-profile:hover:before{
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;	
	visibility: visible;
}

a:hover {
	border-bottom: 1px solid #fff;
}

.section-title {
	text-align: justify;
  font-size: 3rem;
  max-width: 81%;
  margin: 0 auto;
  padding: 2rem;
}

.section-title h1 {
  text-transform: uppercase;
}

.section-title p {
  letter-spacing: 1px;
  font-size: 1.1vw;
  margin-top: 2rem;
}

.navigation1 .nav-links1 a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navigation .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
	font-size: 2rem;
	color: #ffffff;
	font-family:"Poppins", sans-serif;
}
  
.Follow{
	font-size: 25px;
}

.navigation .nav-links a {
  color: #fff;
  transition: 0.3s;
}

.navigation1 .nav-links1 a{
text-decoration: none;
color: #fff;
text-transform: uppercase;
}

.navigation .nav-links a:hover {
font-size: 3rem;
transition: font-size 3rem;
}

.navigation .nav-links a {
  color: #fff;
  transition: 0.3s;
}


.nav-links a:hover {
transform:scale(1rem);
border-bottom: none;
}

.nav-links1 a:hover {
border-bottom: 1px solid #fff;
}

@media (min-width: 1270px) and (max-width: 1500px){
  .Card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
  }

  .card-profile {  
    width: 75%;
  }

  .content{
    margin-left: 8rem;
  }

}


@media (min-width: 991px) and (max-width: 1270px){
  .Card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
  }

  
  .card-profile {    
    position: relative;
    width: 65%;
    height: 390px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    clip-path: polygon(0% 10%, 10% 0%, 
    100% 0%, 100% 0%, 
    100% 90%, 90% 100%, 
    0% 100%, 0% 100%);
  }
  
  .card__img {
    width: 95%;
    height: 250px;
    clip-path: polygon(0% 15%, 10% 0%, 
    100% 0%, 100% 0%, 
    100% 90%, 90% 100%, 
    0% 100%, 0% 100%);
  }
  
  .content{
    margin-left: 10rem;
  }

  .card__name {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 0.5rem;
  }
  
  .card__profession {
    color: #000000;
    font-size: var(--h3-font-size);
    font-weight: 700;
    text-transform: capitalize;
  }
  
  .card__social {
    width: 83%;
    height: 40px;
    background: rgb(0, 0, 0);
    text-align: initial;
    margin-top: 1rem;
    margin-left: 20px;
    transform-origin: 18px 17px;
    border-top-left-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
    clip-path: polygon(0% 27%, 0% 0%, 
    100% 0%, 100% 0%, 
    100% 51%, 93% 100%, 
    0% 100%, 0% 100%);
  }
  
  .card__social-control {
    position: relative;
    transform-origin: 18px 18px;
    transition: transform 0.45s ease;
    transform: rotate(0);
  }
  
  .card__social-toggle {
    display: inline-flex;
    background-color: var(--body-color);
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
    left: 6px;
    top: 4px;
    width: 2rem;
    height: 2rem;
  }
  
  .card__social-toggle span {
    position: relative;
    bottom: 8px;
    left: 10px;
  }
  
  .card__social-text {
    display: block;
    color: var(--body-color);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  
  .card__social-list {
    display: inline-flex;
    column-gap: 0.75rem;
    transform: rotate(135deg);
    transform-origin: 18px 17px;
  }
  
  
  .card__social-text,
  .card__social-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 3.1rem;
  }
  
  .card__social-text {
    top: 0.5rem;
  }
  
  .card-profile:before{
    content: '';
    position: absolute;
    border: 4px solid;
    border-image: linear-gradient(to bottom, #ffffff 30%, rgb(34, 34, 34) 100%)1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    visibility: hidden;
  }
  
  .card-profile:hover:before{
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;	
    visibility: visible;
  }
  
  a:hover {
    border-bottom: 1px solid #fff;
  }
  
  .section-title {
    text-align: justify;
    font-size: 2.5rem;
    width: 100%;
   padding: 1rem;
  }
  
  .section-title h1 {
    text-transform: uppercase;
  }
  
  .section-title p {
    letter-spacing: 1px;
    font-size: 1.5vw;
  }
  
  .navigation1 .nav-links1 a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .content{
    margin-left: 10rem;
  }
  
  .section-title {
    font-size: 2rem;
    width: 100%;
    margin: 0 auto;
  }

  .section-title p {
    font-size: 2vw;
  }

  .Card {
     width: 555px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-content: center;
  }

  .card-profile {
    margin: 0;
    padding: 1.5rem;
    width: 85%;
    height: 100%;
  }

  .card__img {
    width: 100%;
    height: 150px;
    clip-path: polygon(0% 18%, 10% 0%, 100% 0%, 100% 0%, 100% 81%, 87% 100%, 0% 100%, 0% 100%);
  }
  
  .card__social {
    width: 90%;
    height: 35px;
  }

  .card__profession{
     margin-top: 0.7rem;
  }

  .card__social-toggle {
    left: 4px;
    top: 3px;
    width: 28px;
    height: 28px;
  }

  .card__social-toggle span {
    position: relative;
    bottom: 9px;
    left: 8.5px;
  } 

}

@media (min-width: 576px) and (max-width:768px) {

  .navigation .nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    font-family:"Poppins", sans-serif;
  }
    
  .Follow{
  font-size: 20px;
  }

  .content{
    margin-left: 10rem;
  }
  
  .section-title {
    font-size: 1.4rem;
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .Card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }


  .card-profile {
    margin: 0 auto;
    padding: 1.5rem;
    width: 35%;
    min-width: 245px;
    height: 100%;
  }

  .card__img {
    width: 90%;
    min-width: 200px;
    height: 80%;
    min-height: 220px;
  }


  .card__profession {
    font-size: 0.8rem;
    margin-top: 25px;
  }

  .card__social {
    width: 100%;
    height: 35px;
    margin-top: 1rem;
    margin-left: 0;
    transform-origin: 0px;
    border-top-left-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
    clip-path: polygon(0% 27%, 0% 0%, 100% 0%, 100% 0%, 100% 51%, 93% 100%, 0% 100%, 0% 100%);
  }

  .card__social-toggle span {
    bottom: 4px;
    left: 9px;
  }

  .card__social-toggle {
    font-size: 1.5rem;
    left: 4px;
    top: 3.5px;
    width: 28px;
    height: 28px;
  }

  .card__social-text {
    display: block;
    font-size: 15px;
    padding-left: 2.5rem;
  }
  
  .section-title p {
    letter-spacing: 1px;
    font-size: 1.9vw;
  }

  .card__name {
    font-size: 0.7rem;
}

  
  .progress-bar {
    width: 3.36rem;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .nav-logo img {
    width: 100%;
  }


  .nav-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .nav-logo img {
    width: 100%;
  }

}

@media (min-width: 420px) and (max-width: 576px) {

  button {
    position: static;
    visibility: visible;
    background-color: transparent;
    border: none;
    color: var(--body-color);
    font-size: 5vh;
  }

  .progress-bar {
    width: 4.36rem;
    position: absolute;
    visibility: hidden;
  }

  .container-column .section-title {
    margin-top: 55px;
  }

  .section-title {
    text-align: center;
    font-size: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
  }
  
  .section-title h1 {
    text-transform: uppercase;
  }
  
  .section-title p {
    letter-spacing: 1px;
    font-size: 2.8vw;
    margin-top: 1.5rem;
  }

  .navigation .nav-logo img {
    height: 100%;
    width: 60%;
    object-fit: contain;
  }

  .container_all{
    margin-top: 3rem;
}

  .container-column, .container-row{
    width: 100%;
  }

  .nav-links2 {
    gap: 60px;
    z-index: 3;
    transition: all .5s linear;
  }

  .nav-links2 a:hover {
    border-bottom: 1px solid #fff;
  }
  
  .nav-links2 {
    gap: 60px;
    z-index: 3;
    transition: all .5s linear;
  }

  .navigation2 .nav-links2 a{
	  position: static;
	  visibility: visible;
	  text-decoration: none;
	  color: rgb(255, 255, 255);
	  text-transform: uppercase;
	  font-size: 20px;
    font-weight: bolder;
	}  
	
	.nav-links2 {
      position: fixed;
      right: 100%;
      top: 35px;
      color: var(--black-color);
      width: 80%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      margin-top: 40px;
      font-family: var(--body-font);
      border: 10px solid transparent; 
      border-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%) 1;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.6);
      clip-path: polygon(0% 20%, 20% 0%, 
          100% 0%, 100% 0%, 
          100% 80%, 80% 100%, 
          0% 100%, 0% 100%);
    } 

  .Nav_all{
    position:absolute;
    visibility: hidden;
  }

  .content{
    margin-left: 0;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .Card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .card-profile {
    width: 255px;
    height: 340px;
  }

  .card__img {
    width: 100%;
    height: 200px;
    clip-path: polygon(0% 15%, 10% 0%, 100% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 100%);
  }

  .nav-links{
    position: absolute;
    visibility: hidden;
  } 
  
  .card__social-toggle {
    left: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
  }

  .card__social-toggle span {
    position: relative;
    bottom: 10px;
    left: 8px;
  }

  .card__social {
    width: 85%;
    height: 36px;
  }

  .card__social-text {
    display: block;
    font-size: 12px;
    padding-left: 2.5rem;
  }

  .nav-links__visibility {
    right: 12%;
    z-index: 3;
    visibility: visible;
  }
}


@media (min-width: 320px) and (max-width: 419px) {

  button {
    position: static;
    visibility: visible;
    background-color: transparent;
    border: none;
    color: var(--body-color);
    font-size: 5vh;
  }

  .progress-bar {
    width: 4.36rem;
    position: absolute;
    visibility: hidden;
  }

  .container-column .section-title {
    margin-top: 55px;
  }

  .section-title {
    text-align: center;
    font-size: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
  }
  
  .section-title h1 {
    text-transform: uppercase;
  }
  
  .section-title p {
    letter-spacing: 1px;
    font-size: 2.8vw;
    margin-top: 1.5rem;
  }

  .navigation .nav-logo img {
    height: 100%;
    width: 60%;
    object-fit: contain;
  }

  .container_all{
    margin-top: 3rem;
}

  .container-column, .container-row{
    width: 100%;
  }

  .nav-links2 {
    gap: 60px;
    z-index: 3;
    transition: all .5s linear;
  }

  .nav-links2 a:hover {
    border-bottom: 1px solid #fff;
  }
  
  .nav-links2 {
    gap: 60px;
    z-index: 3;
    transition: all .5s linear;
  }

  .navigation2 .nav-links2 a{
	  position: static;
	  visibility: visible;
	  text-decoration: none;
	  color: rgb(255, 255, 255);
	  text-transform: uppercase;
	  font-size: 20px;
    font-weight: bolder;
	  }  
	
    .nav-links2 {
      position: fixed;
      right: 100%;
      top: 35px;
      color: var(--black-color);
      width: 90%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      margin-top: 40px;
      font-family: var(--body-font);
      border: 10px solid transparent; 
      border-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%) 1;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.6);
      clip-path: polygon(0% 20%, 20% 0%, 
          100% 0%, 100% 0%, 
          100% 80%, 80% 100%, 
          0% 100%, 0% 100%);
    } 

  .Nav_all{
    position:absolute;
    visibility: hidden;
  }

  .content{
    margin-left: 0;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .Card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .card-profile {
    width: 255px;
    height: 285px;
  }

  .card__img {
    width: 100%;
    height: 150px;
    clip-path: polygon(0% 15%, 10% 0%, 100% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 100%);
  }

  .nav-links{
    position: absolute;
    visibility: hidden;
  } 
  
  .card__social-toggle {
    left: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
  }

  .card__social-toggle span {
    position: relative;
    bottom: 10px;
    left: 8px;
  }

  .card__social {
    width: 85%;
    height: 36px;
  }

  .card__social-text {
    display: block;
    font-size: 12px;
    padding-left: 2.5rem;
  }

  .nav-links__visibility {
    right: 5.5%;
  }
}


a:hover {
	border-bottom: 1px solid #fff;
}
